<templates>
<div class= "col-sm-6 col-md-6" id="item-template" >
    <div class="well">
        <button class="btn btn-default remove pull-right">X</button>
        <a href="#Typed/d/Detail/<%= id %>" ><div>Name :<%= Name %></div></a>
        <div>Father Name :<%= FName %></div>
    </div>
</div>

<script id="grid-template" type="text/html">
    
  
  <legend>Grid <button class="pull-right typeSelector btn btn-default">Switch to Table</button></legend>
  <div class="col-sm-12 col-md-12 row" id="gridView">

  </div>
    <br />
  <div class="row">
    <a type="submit" class="btn btn-default pull-right" href="#Typed/AddNew">Add New</a>
  </div>
    
    
</script>
<table>
<tr id="row-template">
    
        <td><a href="#Typed/d/Detail/<%= id %>"><%= Name %></a></td>
        <td><%= FName %></td>
    
</tr>
</table>

<script id="table-template" type="text/html">
    
  <legend>Grid <button class="pull-right typeSelector btn btn-default">Switch to Grid</button></legend>
  <table class="table table-striped table-hover" >
      <thead><tr><th>Name</th><th>Last Name</th></tr></thead>
      <tbody id="gridView"></tbody>
  </table>
  <div class="row">
    <a type="submit" class="btn btn-default pull-right" href="#Typed/AddNew">Add New</a>
  </div>
    
    
</script>

    <script id="person-update" type="text/html">
    <div>

        <div class="col-sm-12 col-md-12" id="Login">
            <fieldset title="Update Person">
                <legend>Update Person</legend>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="ID" class="col-lg-4 control-label">ID</label>
                        <div class="col-lg-8">
                            <span class="form-control" id="ID" data-bind="text: model.id"></span>
                        </div>
                    </div>
                    <div class="form-group">
                    <label for="Name" class="col-lg-4 control-label">Name</label>
                    <div class="col-lg-8">
                        <input class="form-control" id="Name" data-bind="value: model.Name, valueUpdate: 'afterkeydown'">
                    </div>
                    </div>
                    <div class="form-group">
                    <label for="FName" class="col-lg-4 control-label">Father Name</label>
                    <div class="col-lg-8">
                        <input class="form-control" id="FName" data-bind="value: model.FName">
                    </div>
                    </div>
                    <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-default" data-bind="click: Update">Update</button>
                    
                        <button type="submit" class="btn btn-default pull-right" data-bind="click: SetDefaultName">Set Default Name</button>
                    </div>
                    </div>
                </form>
            </fieldset>
        </div>
    </div>
        </script>
</templates>
