<div id="main_content">
    <div class="row">
        <div class="col-lg-offset-1 col-sm-10 col-md-10">
            <div class="jumbotron">
                <h1>My Single Page Application</h1>
                <p>This application is a template to demo the use of Backbone in an Larges scale SPA style application.</p>
                <p><a class="btn btn-primary btn-lg" href="#Documentation/">Learn more »</a></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-offset-1 col-sm-5 col-md-5">
            <h2>Modular Architecture</h2>
            <p>Any large scale application can be maintainable if it is developed as a set of smaller applications.</p>
            <p><a class="btn btn-default" href="#Documentation/d/ModularArchitecture">View details »</a></p>
        </div>
        <div class="col-sm-5 col-md-5">
            <h2>Authenticated Modules</h2>
            <p>In most applications there is a requirement for a module to only be accesible if the user is authenticated. Else the user is redirected to the login view and directed back to the requested route. implementation of this behavior simply requires you to extend the Router from <strong>app.GL.ModuleRouter</strong> class instead of <strong>Backbone.SubRoute</strong></p>
            <p><a class="btn btn-default" href="#Documentation/d/AuthenticatedModules">View details »</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-offset-1 col-sm-5 col-md-5">
            <h2>Delayed Loading</h2>
            <p>If the whole application is to be downloaded at first call the network traffic could get worrysome there fore modules should be downloaded only when invoked.</p>
            <p><a class="btn btn-default" href="#Documentation/d/LazyLoad">Learn More »</a></p>
        </div>
        <div class="col-sm-5 col-md-5">
            <h2>MVVM</h2>
            <p>In Complex business application there tend to be a lot of DOM manipulation involved to get around the complex business scenarios. Without MVVM the code tends to get out of control sooner than later.</p>
            <p><a class="btn btn-default" href="#Documentation/d/MVVM">Learn More »</a></p>
        </div>
    </div>
</div>