<div id="main_content">
    <div class="row-fluid">
        <div class="span10 offset1">
            <div class="hero-unit">
                <h1>My Single Page Application</h1>
                <p>This application is a template to demo the use of Backbone in an Larges scale SPA style application.</p>
                <p><a class="btn btn-primary btn-large" href="#Documentation/">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="offset1 span5">
            <h2>Modular Architecture</h2>
            <p>Any large scale application can be maintainable if it is developed as a set of smaller applications.</p>
            <p><a class="btn" href="#Documentation/d/ModularArchitecture">View details &raquo;</a></p>
        </div>
        <div class="span5">
            <h2>Authenticated Modules</h2>
            <p>In most applications there is a requirement for a module to only be accesible if the user is authenticated. Else the user is redirected to the login view and directed back to the requested route. implementation of this behavior simply requires you to extend the Router from <strong>app.GL.ModuleRouter</strong> class instead of <strong>Backbone.SubRoute</strong></p>
            <p><a class="btn" href="#Documentation/d/AuthenticatedModules">View details &raquo;</a></p>
        </div>
    </div>
    <div class="row-fluid">
        <div class="offset1 span5">
            <h2>Delayed Loading</h2>
            <p>If the whole application is to be downloaded at first call the network traffic could get worrysome there fore modules should be downloaded only when invoked.</p>
            <p><a class="btn" href="#home/">Comming Soon &raquo;</a></p>
        </div>
        <div class="span5">
            <h2>MVVM</h2>
            <p>In Complex business application there tend to be a lot of DOM manipulation involved to get around the complex business scenarios. Without MVVM the code tends to get out of control sooner than later.</p>
            <p><a class="btn" href="#Documentation/d/MVVM">Comming Soon &raquo;</a></p>
        </div>
    </div>
</div>
