<div>
    <div class="well col-sm-4 col-md-4 well-lg" id="Login">
        <fieldset title="Please Sign In">
        <legend>Please Sign In</legend>
            <input id="username" name="Username" type="text" class="form-control" placeholder="Email address" data-bind="value: model.username">
            <input id="password" name="Password" type="password" class="form-control" placeholder="Password" data-bind="value: model.password">
            <div class="checkbox"><label class="">
                <input type="checkbox" value="remember-me" data-bind="value: rememberMe">
                Remember me
            </label></div>
            <button id="button_login" class="btn btn-primary btn-lg" data-bind="click: signIn">
                Sign in
            </button>
        </fieldset>
    </div>
</div>