<div id="main_content">
    <div class="col-lg-offset-1 col-sm-10 col-md-10">
        <div id="chartdiv" class="hero-unit" style="height:500px">
            <h1>
               Welcome to GMC</h1>
            <p>
                Praesent vestibulum molestieme lacueneanum nonummy hen drerit mauris phaseuse portame
                uscem suscipit varius mum sonontes nascetur ridiculus musulla dui fusce feugiat.</p>
            <p>
                <a class="btn btn-primary btn-lg">More »</a></p>
        </div>
    </div>
</div>